/* Zapobiega rozdzielaniu elementów */
.avoid-break {
  page-break-inside: avoid;
  break-inside: avoid;
}

h3 {
  page-break-after: avoid;
}

/* Dostosowanie marginesów dla A4 */
@page {
  size: A4;
  margin: 1.5cm;
}

/* Ukryj elementy jak przyciski lub nawigazja */
.d-print-none {
  display: none !important;
}
