<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('formularz_wyceny')}}">Formularz wyceny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('podsumowanie_wycen')}}">Podsumowanie wycen</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ustawienia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('kategorie_wyceny')}}">Kategorie Wyceny</a></li>
            <li><a class="dropdown-item" href="{{url_for('pozycje_wyceny')}}">Pozycje Wyceny</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">...</a></li>
          </ul>
        </li>
      
      </ul>
    </div>
  </div>
</nav>