{% extends "layout.html" %} {% block content %}
<div class="container mb-3">
  <div class="row mb-3">
    
    <div class="col-3">
      <img
        src="schody-chudzinski-logo.png"        
        alt="LOGO PDF"
      />
    </div>
    <div class="col text-end">
      <p>Data wystawienia: {{ wycena.data_wprowadzenia }}</p>
      <p>Imię i nazwisko: {{ wycena.imie_klienta}} {{ wycena.nazwisko_klienta }}</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-end">
      <p>Adres inwestycji: {{ wycena.adres_inwestycji }}</p>
    </div>    
  </div>
  {% for sekcja in sekcje %}
  {% set szczegoly_dla_sekcji = wycena.szczegoly | selectattr("pozycja.kategoria_wyceny.nazwa_kategorii", "equalto", sekcja) | list %}
  {% if szczegoly_dla_sekcji %}
    {% set podkategoria = szczegoly_dla_sekcji[0].pozycja.kategoria_wyceny.pod_kategoria %}
    <h3>{{ sekcja }}: {{ podkategoria }}</h3>

    <div class="row">
      <div class="col-4">
        <img src="{{ zdjecia[sekcja] }}" alt="{{ podkategoria }}"
               style="width: 200px; height: 200px; object-fit: contain;" />
      </div>
      <div class="col-8">
        <table class="table">
          <tbody>
            {% for szczegol in szczegoly_dla_sekcji %}
            <tr>
              <td>{{ szczegol.indywidualna_nazwa if szczegol.indywidualna_nazwa else szczegol.pozycja.pozycja }}</td>
              <td>{{ szczegol.dodatkowy_opis }}</td>
              <td>
                {% if szczegol.pozycja.jednostka_miary in ["kpl", "szt"] %}
                  {{ szczegol.ilosc|round(0)|int }} {{ szczegol.pozycja.jednostka_miary }}
                {% elif szczegol.pozycja.jednostka_miary in ["m2", "mb"] %}
                  {{ "%.2f"|format(szczegol.ilosc) }} {{ szczegol.pozycja.jednostka_miary }}
                {% else %}
                  {{ szczegol.ilosc }} {{ szczegol.pozycja.jednostka_miary }}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <br>
{% endfor %}

</div>

{% endblock %}
