{% extends "layout.html" %} {% block content %}
<div class="container mb-3">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <img
        src="{{ url_for('static', filename='schody-chudzinski-logo.png') }}"
        alt="LOGO"
      />
    </div>
    <div class="col text-start">
      <p>Data wystawienia: {{ wycena.data_wprowadzenia }}</p>
      <p>Imię i nazwisko: {{ wycena.imie_klienta}} {{ wycena.nazwisko_klienta }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Adres inwestycji: {{ wycena.adres_inwestycji }}</p>
    </div>    
  </div>
  {% for sekcja in sekcje %}
   {% set szczegoly_dla_sekcji = wycena.szczegoly | selectattr("pozycja.kategoria_wyceny.nazwa_kategorii", "equalto", sekcja) | list %}
  {% if szczegoly_dla_sekcji %}
    {% set podkategoria = szczegoly_dla_sekcji[0].pozycja.kategoria_wyceny.pod_kategoria %}
    <h3>{{ sekcja }}: {{ podkategoria }}</h3>

    <div class="row">
      <div class="col-auto">
        <img src="{{ url_for('static', filename=szczegoly_dla_sekcji[0].pozycja.kategoria_wyceny.zdjecie_url) }}"
             alt="{{ podkategoria }}"
             class="rounded shadow-sm" 
             width="250"
             height="250"/>
      </div>
      <div class="col-8">
        <table class="table">
          <tbody>
            {% for szczegol in szczegoly_dla_sekcji %}
            <tr>
              {#<td>{{ szczegol.pozycja.pozycja if szczegol.pozycja else szczegol.indywidualna_nazwa }}</td>#}
              <td>{{ szczegol.indywidualna_nazwa if szczegol.indywidualna_nazwa else szczegol.pozycja.pozycja }}</td>
              <td>{{ szczegol.dodatkowy_opis }}</td>
              <td>{{ szczegol.ilosc }} {{ szczegol.pozycja.jednostka_miary }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  {% endfor %}

</div>

{% endblock %}
