{% extends "layout.html" %}
{% block content %}
  <h2>Podsumowanie wycen</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nr zlecenia</th>
        <th>Adres inwestycji</th>
        <th>Data zlecenia</th>
        <th>Status</th>
        <th>Data wysłania</th>
        <th>Cena całkowita</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      {% for wycena in wyceny %}
      <tr data-id="{{ wycena.wycid }}">
        <td>{{ wycena.nr_zlecenia }}</td>
        <td>{{ wycena.adres_inwestycji }}</td>
        <td>{{ wycena.data_wprowadzenia }}</td>          
        <td>{{ wycena.status_wyceny }}</td>      
        {% if wycena.data_wyslania == None%}
        <td><button type="button" class="btn btn-warning wyslij" data-nr="{{ wycena.nr_zlecenia }}">Wyślij</button></td>
        {% else %}
        <td>{{ wycena.data_wyslania }}</td>
        {% endif %}
        <td>{{ wycena.wartosc_calkowita }}</td>
       
        <td>
          <form method="post">
             <input type="hidden" name="wycid" value="{{ wycena.wycid }}">
            <input type="submit" class="btn btn-primary" value="Szczegóły wyceny">
          </form>
        </td>

        <td>
          <a href="{{url_for('podglad_wyceny', wycid=wycena.wycid)}}" class="btn btn-primary">Podgląd wyceny</a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
document.querySelectorAll(".wyslij").forEach(button => {
  button.addEventListener("click", function () {
    const nrZlecenia = this.dataset.nr;
    const td = this.closest("td");

    fetch("/wyslano_oferte", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ nr_zlecenia: nrZlecenia })
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        td.textContent = data.data_wyslania;  // ← nowa data zamiast przycisku
      } else {
        alert("Błąd: " + data.error);
      }
    });
  });
});
</script>




{% endblock %}


