{% extends "layout.html" %}

{% block content %}
<h2><strong>Wycena nr {{ wycena.nr_zlecenia }}</strong></h2>

<div class="row mb-4">
  <div class="col">
    <p><strong>Klient:</strong> {{ wycena.imie_klienta }} {{ wycena.nazwisko_klienta }}</p>
    <p><strong>Adres:</strong> {{ wycena.ulica }} {{ wycena.numer_domu }}, {{ wycena.kod_pocztowy }} {{ wycena.miasto }}</p>
    <p><strong>Telefon:</strong> {{ wycena.kontakt_telefon }} | <strong>Email:</strong> {{ wycena.kontakt_email }}</p>
  </div>
  <div class="col text-end">
    <p><strong>Data wystawienia:</strong> {{ wycena.data_wprowadzenia.strftime('%Y-%m-%d') }}</p>
    <p><strong>Status:</strong> {{ wycena.status_wyceny }}</p>
    <p><strong>Wartość całkowita:</strong> {{ suma_wyceny | round(2) }} zł</p>
  </div>
</div>

<hr>
<!-- typ schodów -->
<div class="container mb-3">
  <!-- sekcja typ schodów -->
  <div class="row">

    <div class="col">
      <h3>Typ schodów</h3>
    </div>
    <div class="col">
      <select class="form-select" aria-label="typ_schodow">
        <option value="1">Typ 5</option>
      </select>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn  btn-success" data-bs-toggle="modal" data-bs-target="#dodajPozycjeModal">
        + Dodaj pozycję
    </button>
    <table class="table table-bordered" id="typSchodow">
      <thead>
        <tr>
          <th>Pozycja</th>
          <th>Ind. Nazwa</th>
          <th>Opis</th>
          <th>Ilość</th>
          <th>Cena</th>
          <th>Edytuj</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody>
        {% for row in szczegoly %}
        <tr data-id="{{ row.szwycid }}">
          <td>{{ row.pozycja.pozycja }}</td>
          <td>{{ row.indywidualna_nazwa }}</td>
          <td>{{ row.dodatkowy_opis }}</td>

          <td>{{ row.ilosc }}</td>
          <td>{{ "%.2f"|format(row.cena_calkowita) }}</td>
          <td>
            <button class="btn btn-sm btn-warning">Edytuj</button>
          </td>
          <td>
            <button class="btn btn-sm btn-danger">Usuń</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</div>
#tutaj dpdaj przycisk z możliwościa dodania sekcji to unikatowa wartość z tabeli Kategorie Wyceny



<!-- Modal -->
<div class="modal fade" id="dodajPozycjeModal" tabindex="-1" aria-labelledby="dodajPozycjeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="dodajPozycjeModalLabel">Dodaj pozycję w sekcji ...</h1>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        #Tutaj utwórz formulaż do dodawania nowej pozycji zgodnej z sekcją z której został wywołany modal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>






{% endblock %}
